Package: derbynet-extras
Maintainer: Jeff Piazza <jeff@jeffpiazza.org>
Version: 10.0-@BUILD@
Priority: optional
Architecture: all
Replaces: derbynet (<= 3.0-1)
Breaks: derbynet (<= 3.0-1)
Enhances: derbynet-server
Recommends: bsdutils, chromium | chromium-browser, fswebcam, unclutter, xautomation, xbitmaps, x11-utils, wmctrl
Homepage: http://jeffpiazza.github.io/derbynet/
Description: Additional client utilities for pinewood derby race management web server.
 DerbyNet extras include:
 .
 - Scripts and autostart for running a turn-key kiosk.
 .
 - Scripts, autostart, and barcode images for running an automated photo capture
 station.
