Package: derbynet-extras
Maintainer: Jeff Piazza <jeff@jeffpiazza.org>
Version: 2.0-1
Priority: optional
Architecture: all
Homepage: http://jeffpiazza.github.io/derbynet/
Description: Pinewood derby race management web server
