
  access_log /var/log/nginx/access.log derbynet_log;

  location /derbynet {
    index index.php;
  }  

  location ~ derbynet/.*\.php(/.*)?$ {
    client_max_body_size 16M;
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_param DERBYNET_CONFIG_DIR /var/www/html/derbynet/local;
    fastcgi_param DERBYNET_DATA_DIR /var/lib/derbynet;
    # fastcgi_read_timeout value goes here, if needed.
  }
