# -*- mode: gitignore; -*-

# Xcode 6 
UserInterfaceState.xcuserstate
xcuserdata/
IDEWorkspaceChecks.plist

# Project-specific stuff:
*.dmg
*.log
*.pkg

docs/dist/

replay/build/

testing/*.curl
testing/cookies.*
testing/*.passwords

timer/build/
timer/out/
timer/dist/
timer/.idea/workspace.xml
timer/.idea/encodings.xml

website/inc/banner.inc
website/inc/generated-*.inc
website/quickref.pdf
website/js/adapter.js
website/local/

dist/
adapter-webrtc/
.idea
*.iml
