# -*- mode: gitignore; -*-

# Xcode 6 
UserInterfaceState.xcuserstate
xcuserdata/

# Project-specific stuff:
*.dmg
*.log
*.pkg

docs/dist/

replay/build/

testing/*.curl

timer/build/
timer/out/
timer/dist/
timer/.idea/workspace.xml
timer/.idea/encodings.xml

website/inc/generated-*.inc
website/local/
