[Desktop Entry]
Type=Application
Version=1.0
Name=Start kiosk
Encoding=UTF-8
Exec=sh -c "/usr/share/derbynet/scripts/kiosk-midori.sh"
X-GNOME-Autostart-enabled=true
