Package: derbynet-website
Maintainer: Jeff Piazza <jeff@jeffpiazza.org>
Version: 2.0-1
Priority: optional
Architecture: all
Depends: nginx, php5-fpm, php5-curl, php5-gd, php5-cli, jarwrapper
Recommended: php5-mysql, php5-sqlite
Homepage: http://jeffpiazza.github.io/derbynet/
Description: Pinewood derby race management web server
