.control_column {
  display: inline-block;
  vertical-align: top;
  width: 485px;
}

.double_control_column {
  width: 975px;
}

.heat-lineup {
  width: 485px;
  margin-right: 10px;
  float: right;
}

.heat-lineup table {
  width: 100%;
}

.heat-lineup h3 {
  text-align: center;
  margin-bottom: 0px;
}

.heat-lineup td {
  margin: 0px;
  padding: 0px;
}

.control_group {
  border: 3px solid #023882;
  margin:5px;
  padding: 10px;
 }

.control_column .scheduling_control {
    cursor: pointer;
}

.current {
  background-color: #F7D117;
}

.current.control_group h3 {
  margin-top: 0px;
  font-size: x-large;
  margin-bottom: 0px;
}

.current.control_group p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.new_round_control h3 {
  margin-bottom: 0px;
}

.status_icon {
   float: right;
}

h3 {
    margin-top: 0px;
}

p.last_contact {
    font-size: 18px;
}


.heat_control_group .ui-flipswitch,
#new_round_modal .ui-flipswitch,
#new_grand_final_modal .ui-flipswitch {
    width: 200px;
    /* center */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.centered_flipswitch {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: x-large;
}

.centered_flipswitch .ui-btn {
    font-size: x-large;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */

.heat_control_group .ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5.9em;
    /* changes the small switch:  background-color: #005599;  */
}
.heat_control_group .ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */

.heat_control_group .ui-flipswitch,
#new_round_modal .ui-flipswitch,
#new_grand_final_modal .ui-flipswitch {
    width: 8.875em;
    /* Controls flipswitch background for both "on" and "off", not suitable with "off" */
    /* background-color: #005599; */
}
.heat_control_group .ui-flipswitch.ui-flipswitch-active,
#new_round_modal .ui-flipswitch.ui-flipswitch-active,
#new_grand_final_modal .ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
    background-color: #023882; /* JEP */
}
/* TODO: custom_size_flipswitch is from the example code */
@media (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch above*/
    .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}

#new_round_modal .ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -6.5em;
}
#new_grand_final_modal .ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -6.5em;
}

#new_round_modal .ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
#new_grand_final_modal .ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}

#new_round_modal .grand-final-label {
    display: inline-block;
    width: 300px;
    margin-right: 1em;
    text-align: right;
    font-weight: bold;
}

#manual_results_modal,
.wide_modal {
  width: 500px;
}

#manual_results_modal table {
  width: 100%;
}

.roundno {
  width: 30px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.progress {
    width: 450px;
    height: 15px;
    border: 1px solid black;
    overflow: hidden;
    background: rgba(255,255,255,0.5);
}

.progress .bar1 {
    width: 0%;
    height: 100%;
    float: left;
    border-right: 1px solid #000000;
    background: #023882;
}

.progress .bar2 {
    width: 0%;
    height: 100%;
    float: left;
    border-right: 1px solid #000000;
    background: #F7D117;
}

.new_rounds_control_group .block_buttons {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.new_rounds_control_group .block_buttons input {
    margin-top: 0px;
    margin-bottom: 0px;
}

.master_schedule_group .block_buttons input {
    margin-top: 13px;
}