.control_column {
  display: inline-block;
  vertical-align: top;
  width: 485px;
}

.double_control_column {
  width: 975px;
}

.heat-lineup {
  width: 485px;
  margin-right: 10px;
  float: right;
}

.heat-lineup td {
  margin: 0px;
  padding: 0px;
}

.control_group {
  border: 3px solid #023882;
  margin:5px;
  padding: 10px;
 }

.current {
  background-color: #F7D117;
}

.current.control_group h3 {
  margin-top: 0px;
  font-size: x-large;
}

h3 {
    margin-top: 0px;
}

p.last_contact {
    font-size: 18px;
}


.heat_control_group .ui-flipswitch {
    width: 200px;
    /* center */
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.centered_flipswitch {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: x-large;
}

.centered_flipswitch .ui-btn {
    font-size: x-large;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */

.heat_control_group .ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5.9em;
    /* changes the small switch:  background-color: #005599;  */
}
.heat_control_group .ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */

.heat_control_group .ui-flipswitch {
    width: 8.875em;
    /* Controls flipswitch background for both "on" and "off", not suitable with "off" */
    /* background-color: #005599; */
}
.heat_control_group .ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
    background-color: #023882; /* JEP */
}
/* TODO: custom_size_flipswitch is from the example code */
@media (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch above*/
    .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}



/** modal window styles **/
#modal_background {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#schedule_modal {
  display: none;
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#kiosk_modal {
  display: none;
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
