
.file_target input {
  width: 100%;
  height: 300px;
  border: 4px dashed #023882;
  /* TODO valign: center; */
}

.file_target .draghover {
  border: 4px solid #023882;
}

.label_target {
  height: 100px;
  border: 4px dashed #023882;
}

.label_target_hover {
  background-color: #ffffb4;
  border: 4px solid #023882;
}

.label_target_filled {
  border: 4px solid #023882;
}

.fields_target_hover {
  background-color: #ffffb4;
}

.field {
  padding: 10px;
  border: 10px solid #023882;
  /* margin: 5px; */
  background-color: #F7D117;
  margin-left: auto;
  margin-right: auto;
}

.field.optional {
  padding: 15px;
  border: 5px solid #023882;
}

.dim, .header_row td {
    background-color: #dddddd;
    color: #999999;
}

.fields .target {
    width: 100%;
}

#meta {
    display: inline-block;
}

input[type='button'] {
    color:#ffffff;
	width: 240px;
	/* margin-left: auto;
	margin-right: auto; */
    padding:10px 15px;
    margin-top:3px;
	margin-bottom: 20px;
    /* display:block; */
    font-size: x-large;

    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top,  #424242 0%, #2d2d2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* IE10+ */
    background: linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* W3C */
    border: 1px solid #666666;
    border-right-width: 1px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;

    cursor: pointer;
}

.fields table {
    border: none;
}

.fields td {
    border: none;
}


.controls * {
    vertical-align: middle;
}

#import_button_div {
  display: inline-block;
  width: 300px;
}