
.flying {
    position: fixed;
    background-color: red;
    left: -5em;
    top: -5em;
    width: 3em;
    font-size: x-large;
    text-align: center;

    padding: 13px;
    display: table;
}

.flying span {
    display: table-cell;
    vertical-align: middle;
}

html, body, table { width: 100%; height: 100%; margin: 0; padding: 0; }

td {
    border: 14px solid black;
}

th {
    font-size: xx-large;
    height: 60px;
}

th .aside {
    font-size: x-large;
}

table, td {
    /* This is a plausible guess, but really needs to adjust with the
       window size. */
    font-size: 85px;
}

td {
    vertical-align: middle;
    /* Setting postion: relative for the td MIGHT be what's causing an intermittent 
       problem with drawing the borders around the cells. */
    /* position: relative; */
}

img {
    vertical-align: middle;
    /* display: inline-block; */
    float: left;
}

.name {
    /* inline-block causes the paragraph to be vertically centered, but the bottom of the text aligns
        with the bottom of the image, resulting in a table cell that's too tall.  What I can't figure
        out how to accomplish is aligning the middle of the floated image with the middle of the text.
        The rules for float require that the floated element be as high up as possible */
    /* display: inline-block; */
    vertical-align: middle
}
