table { 
  border-collapse: collapse;
  border: 2px black;
}

table.main_table { 
  width: 100%;
}

td {
  border: 1px solid;
  text-align: center;
  padding: 13px;
}

tr.d0 td {
  background-color: #fcf6cf;
}

.group_spacer {
   height: 30px;
}

.pre_group_title {
	align: center;
}

.curgroup {  }
.group_title {  }

.curgroup .group_title,
.curgroup .pre_group_title {
	/* Cub Scout blue & gold, respectively. */
  border: 5px solid #023882;
  background-color: #F7D117;
}

th {
  padding-right: 10px;
}
.curheat {
  border: 10px solid black;
}
.curgroup .d0 th,
.curgroup .d1 th {
  background-color: #023882;
  color: #ffffff;
}

td .car {
  font-size: x-large;
}
td .racer {
  font-size: small;
}

tbody {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

tbody tr:first-child th {
  padding-top: 10px;
}

div.banner {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #023882;

  display: table;
}

div.banner div {
  display: table-cell;
  vertical-align: middle;
}

div.banner div.role {
  position: absolute;
   right: 60px;
  background-color: #F7D117;
  /* To achieve vertical centering (http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/) */
  margin-top: auto;
  margin-bottom: auto;
  top: 0; bottom: 0;
 height: 18px;
}

div.banner img {
  display: inline;
  position: absolute;
  right: 0;
}

div.banner form {
  display: inline;
  width: 66px;
}

div.banner_version { 
  position: absolute;
  right: 10px;
}

div.banner .banner_title {
  color: white;
  font-size: 50px;
  text-align: center;
}

div.banner div.back_button {
  width: 66px;
}

/* Yuck.  These really don't do what I want. */
div.index_background {
  width: 100%;
  align: center;
}

/* These are for checkin page */
.floatform {
   position: fixed;
   /* height: 100px; */
   width:  400px;
   /* center in viewport: */
   top: 50%;
   left: 50%;
   /* margin-top: -50px; */
   margin-left: -200px;
   border: 2px solid black;
   background-color: white;
   /* visibility: hidden; */
   /* visibility: visible; */
}

.clickable {
	color: #ff0000;
}

/* Suppress the underline and coloring for these links. */
.racer_link {
   color: inherit;
   text-decoration: none;
}

/*
td.clickable {
	background-color: #00ff00;
	margin: 2px;
	padding: 3px;
}

td.clickable div.inclickable {
	margin: 3px;
	background-color: #ffffff;
}
*/


.block_buttons input,
.block_buttons select,
.block_buttons optgroup,
.block_buttons option,
.block_buttons label,
.block_buttons span,
.block_buttons p { 
  font-size: 24px; /*x-large; */
}

.block_buttons input[type='button'],
.block_buttons input[type='submit'] {
    color:#ffffff;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
    padding:10px 15px;
    margin-top:3px;
	margin-bottom: 20px;
    display:block;
    font-size: x-large;

    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top,  #424242 0%, #2d2d2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* IE10+ */
    background: linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* W3C */
    border: 1px solid #666666;
    border-right-width: 1px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;

    cursor: pointer;
}

#ajax_working {
  position: fixed;
  background-color: green;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 10em;
  text-align: center;
}

#ajax_failure {
  position: fixed;
  background-color: red;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 25em;
  font-size: x-large;
  text-align: center;
}

.thumbnail { 
  display: inline-block;
  width: 150px;
  height: 150px;
}

.thumbnail a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.hidden {
  visibility: hidden;
  display: none;
}


.lost_photo {
  font-style: italic;
}

.full_page_center {
  width: 100%;
  text-align: center;
}

.kiosk_title {
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.kiosk_heading {
  font-size: 50px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.kiosk_wanted {
  display: inline-block;
  vertical-align: top;
}

.kiosk_wanted li {
  font-size: 30px;
}

.award_superlative {
  text-align: right;
  width: 6em;
}

.award_primary {
  text-align: left;
}


.award_racers {
  float: right;
  width: 20%;
}

.award_choices {
  width: 80%;
}

.award-racer-photo { 
  display: inline-block;
 }

.award-racer-name { 
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 80px;
  color: white;
}

.award-background {
  background-color: #003882;
}

.fade-in {  display: none;  }

#pw_for_password {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.index_spacer {
  height: 50px;
}