
img.project-icon {
    float: right;
    margin-right: 50px;
}

div.screenshots figure {
    width: 210px;
    display: inline-block;
    text-align: center;
}

div.screenshots figure img {
    margin-left: auto;
    margin-right: auto;
}

div.screenshots {
    margin-bottom: 20px;
}

@media print, screen and (min-width: 1080px) {
    div.screenshot-wrapper {
        position: fixed;
        top: 200px;
        width: 240px;
        left: 50%;
        margin-left: 320px;
    }

    div.screenshots {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    div.screenshots figure {
        width: 240px;
    }
}
