Package: derbynet-server
Maintainer: Jeff Piazza <jeff@jeffpiazza.org>
Version: 10.0-@BUILD@
Priority: optional
Architecture: all
Depends: nginx,
        php-fpm (>= 8.0),
        php-curl (>= 8.0),
        php-gd (>= 8.0),
        php-sqlite3 (>= 8.0),
        ssl-cert
Replaces: derbynet (<= 3.0-1)
Breaks: derbynet (<= 3.0-1)
Homepage: http://jeffpiazza.github.io/derbynet/
Description: Pinewood derby race management web server
