Package: derbynet-server
Maintainer: Jeff Piazza <jeff@jeffpiazza.org>
Version: 8.0-@BUILD@
Priority: optional
Architecture: all
Depends: nginx,
        php-fpm | php5-fpm,
        php-curl | php5-curl,
        php-gd | php5-gd,
        php-sqlite3 | php5-sqlite,
        ssl-cert
Replaces: derbynet (<= 3.0-1)
Breaks: derbynet (<= 3.0-1)
Homepage: http://jeffpiazza.github.io/derbynet/
Description: Pinewood derby race management web server
