#main-container {
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 316px;
}

#main-container.standalone {
  margin-top: 20px;
  width: 620px;
}

#host-side {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
#host-side.hidden {
  display: none;
}
/* Ugh.  This is to make the "Connect"
button align visually with the "Scan"
button on the serial side. */
#connect-button-div {
  margin-top: 245px;
}

#serial-side {
  display: inline-block;
  vertical-align: top;
}

.scanlist li {
  font-size: 16px;
  line-height: 1.1;
  padding: .3em .7em;
}

.scanlist li.probing {
  font-weight: bold;
  background-color: #f9fc2d;
}

.scanlist li.undiscoverable {
  background-color: #cccccc;
}

.scanlist li.chosen {
  font-weight: bold;
  background-color: #00cc00;
}

.scanlist-div {
  width: 300px;
  border: 3px solid black;
  margin: 5px;
}

#probe-button {
  margin-top: 20px;
}

#opening_modal {
  width: 400px;
}

#no-serial-api {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#probe-buttons-div {

}

#connection-status-div {
  padding-left: 80px;
}

#connected {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}

#connected-detail {
  margin-top: 0px;
  margin-bottom: 10px;
}

#last_event {
  margin-top: 20px;
  margin-left: 80px;
}
