#main-container {
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 316px;
}

#main-container.standalone {
  margin-top: 20px;
  width: 600px;
}

.host, .serial {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.host.hidden {
  display: none;
}

.scanlist li {
  font-size: 16px;
  line-height: 1.1;
  padding: .3em .7em;
  cursor: pointer;
}

.scanlist li.probing {
  font-weight: bold;
  background-color: #f9fc2d;
}

.scanlist li.undiscoverable {
  background-color: #cccccc;
}

.scanlist li.user-chosen {
  border-color: #498128;
  border-left-width: 4px;
  border-right-width: 4px;
}

.scanlist li.chosen {
  font-weight: bold;
  background-color: #498128;
  color: white;
}

.scanlist-div {
  /* width: 300px; */
  border: 3px solid black;
  margin: 5px;
}

#lower-container {
  margin-top: 20px;
}

.status img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#no-serial-api-modal {
  width: 400px;
}

#no-serial-api {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

#probe-buttons-div {

}

#connection-status-div {
  padding-left: 80px;
}

#connected {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}

#connected-detail {
  margin-top: 0px;
  margin-bottom: 10px;
}

#last_event {
  margin-top: 20px;
  margin-left: 80px;
}
