<@STARTPHP@ @session_start();

require_once('inc/authorize.inc');
require_once('inc/banner.inc');
require_once('inc/data.inc');
require_once('inc/json-timer-state.inc');
require_once('inc/timer-test.inc');
require_permission(SET_UP_PERMISSION);

@ENDPHP@><!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Timer</title>
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/mobile.css"/>
<link rel="stylesheet" type="text/css" href="css/timer.css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/mobile.js"></script>
<script type="text/javascript" src="js/ajax-setup.js"></script>
<script type="text/javascript" src="js/modal.js"></script>

<script type="text/javascript" src="js/timer/port_wrapper.js"></script>
<script type="text/javascript" src="js/timer/ports.js"></script>
<script type="text/javascript" src="js/timer/profiles.js"></script>
<script type="text/javascript" src="js/timer/detector.js"></script>
<script type="text/javascript" src="js/timer/events.js"></script>
<script type="text/javascript" src="js/timer/result.js"></script>
<script type="text/javascript" src="js/timer/state_machine.js"></script>
<script type="text/javascript" src="js/timer/timer_proxy.js"></script>
<script type="text/javascript" src="js/timer/host_poller.js"></script>
<script type="text/javascript" src="js/timer/main.js"></script>

</head>
<body>
<@STARTPHP@ make_banner('Timer', 'coordinator.php'); @ENDPHP@>

<div id="no-serial-api" class="hidden">
This browser does not support Web Serial API and so cannot communicate with your timer.
Please try a different browser.
</div>

<div id="profiles-div">
  <ul id="profiles-list" class="mlistview">
  </ul>
</div>

<div id="probe-buttons-div" class="block_buttons">
  <p>Plug in your timer and click "Probe".</p>

  <input id="probe-button" type="button" value="Probe" onclick="probe_for_timer()"/>
  <br/>
  <input id="port-button" type="button" value="New Port" onclick="new_port()"/>
  
</div>

<div id="connection-status-div">
  <p id="connected">Page reloaded</p>
  <p id="connected-detail"></p>
</div>

<div id="last_event">
</div>

</body>
</html>
