
p.award-racer {
    line-height: 0.4; /* times font-size */
}

.award-racer .recipient{
    font-weight: bold;
}

#photos {
    width: 100%;
}

.award-racer-photo {
    float: left;
}

.award-racer-photo img {
    margin-left: 100px;
/* Set by javascript    max-height: 90%; */
    max-width: 90%;
}

.award-car-photo {
    float: right;
}

.award-car-photo img {
    /* Set by javascript max-height: 90%; */
    max-width: 90%;
}

.award-background {
    color: #003882;
    font-size: 7vh;
    text-align: center;
    clear: both;
}

.award-trophy {
    margin-top: 7vh;
    font-size: 9vh;
    font-weight: bold;
    max-height: 14vh;
}

#carname {
    font-style: italic;
    font-size: 5vh;
}

.fade-in {  display: none;  }

video.confetti {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  z-index: 100;
}
