
.instructions-wrapper {
    position: relative;  /* Establish a positioning context for center button */
}

.instructions {
    font-size: 16px;
    font-style: italic;
    margin-top: 30px;
}

.instructions-wrapper .left {
    float: left;
    width: 50%;
}

.instructions-wrapper .left .instructions {
    margin-right: 130px;
    margin-left: 30px;
}

.center-button-up {
    position: absolute;
    width: 260px;
    top: 15px;
    left: 50%;
    margin-left: -130px;
}

.instructions-wrapper .right {
    float: right;
    width: 50%;
}

.instructions-wrapper .right .instructions {
    text-align: right;
    margin-left: 130px;
    margin-right: 40px;
}

.listview {
  position: absolute; 
  top: 160px;
  bottom: 0;
  left: 25%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-listview > li span {
  font-size: 16px;
}

.ui-listview > li span.awardname {
    font-weight: bold;
}
.ui-listview > li p {
    font-size: 12px;
}

.ui-listview span.recipient {
    float: right;
}

#all_awards li > a:first-child {
    cursor: default;
}

#all_awards li.award_recipient_hover a:first-child {
    background-color: #ffffb4;
}

#all_awards li.unacceptable_hover a:first-child {
    background-color: #ffb4b4;
}

#all_awards li.unacceptable_class_hover span.classname,
#all_awards li.unacceptable_class_hover span.rankname {
    color: #ff0000;
}

#all_awards li.unacceptable_hover span.recipient {
    color: #ff0000;
}

#all_awards span.recipient img {
    vertical-align: 5%;
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.ui-listview > li.hidden {
  height: 0px;
  padding: 0px 0px 0px 0px;
}
li.hidden p {
  margin: 0px;
}

