
#log {
  position: fixed;
  width: 350px;
  right: 0;
  top: 65px;
  bottom: 0;
  z-index: 100;
  background-color: white;
  padding-left: 15px;
  line-height: 1.0;
}
#log p {
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#log p.sent {
  text-align: left;
}
#log p.rcvd {
  text-align: right;
}
#log p.stream {
  text-align: center;
}

#device-picker-div {
  min-height: 50px;
}

#preview {
  max-width: 640px;
}
