
#edit_racer_modal {
    width: 400px;
}

#racer_photo_modal {
    margin-top: 10px;
    width: 720px;
}

#preview {
    width:320px;
    height:240px;
    margin-left: auto;
    margin-right: auto;
}

#captured {
    width:640px;
    height:480px;
    margin-left: auto;
    margin-right: auto;
}

.trophy-eligible-flipswitch.ui-flipswitch {
    width: 7.5em;
    padding: 5px;
}

.trophy-eligible-flipswitch {
    margin-left: 103px;
    margin-bottom: 30px;
    font-size: x-large;
}

.trophy-eligible-flipswitch .ui-btn {
    /* This controls the size of the slider "square". */
    font-size: x-large;
}

.trophy-eligible-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -4.3em;
}
.trophy-eligible-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.6em;
}

.trophy-eligible-flipswitch.ui-flipswitch.ui-flipswitch-active {
  padding-left: 5.775em;
  width: 1.875em;
}

tr.exclude-racer td.checkin-status {
  background-image: url('../img/asterisk.png');
  background-repeat: no-repeat;
}