
tr.d0 td {
  background-color: #fcf6cf;
}

#edit_racer_modal {
    width: 400px;
}

#rank_missing img {
    float: left;
}

#photo_modal {
    top: 0px;
    margin-top: 10px;
    width: 720px;
}

#preview {
    width:320px;
    height:240px;
    margin-left: auto;
    margin-right: auto;
}

#captured {
    width:640px;
    height:480px;
    margin-left: auto;
    margin-right: auto;
}

.block_buttons input.advanced_button {
  position: absolute;
  right: 3px;
  margin-top: 0px;
}

.centered_flipswitch {
    width: 143px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: x-large;
}

.centered_flipswitch * {
    /* Normally the default, but overridden by Dropzone */
    box-sizing: content-box;
}

.centered_flipswitch .ui-btn {
    font-size: x-large;
}

#autocrop-label {
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#edit_racer_modal {
  top: 0px;
}

.trophy-eligible-flipswitch.ui-flipswitch {
    width: 7.5em;
    padding: 5px;
}

.trophy-eligible-flipswitch {
    margin-left: 103px;
    margin-bottom: 30px;
    font-size: x-large;
}

.trophy-eligible-flipswitch .ui-btn {
    /* This controls the size of the slider "square". */
    font-size: x-large;
}

.trophy-eligible-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -4.3em;
}
.trophy-eligible-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.6em;
}

.trophy-eligible-flipswitch.ui-flipswitch.ui-flipswitch-active {
  padding-left: 5.775em;
  width: 1.875em;
}

tr.exclude-racer td.checkin-status {
  background-image: url('../img/asterisk.png');
  background-repeat: no-repeat;
}

img.checkin-photo {
    max-height: 60px;
    max-width: 60px;
}

#find-racer {
    position: fixed;
    bottom: 0px;
    width: 27em;
    height: 40px;
    right: 1em;
    font-size: large;
    color: white;
	background-color: #023882;
    padding: 5px;
}

#find-racer-form {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3px;
  outline-color: transparent;
  outline-style: none;
}

#find-racer img {
    float: right;
    margin-top: 8px;
}

#find-racer-text {
  background-color: #ffffff;
}


.notfound #find-racer-text {
    background-color: #fc828c;
}

.found-racer {
    background-color: #80ff80;
}

#find-racer-message {
  width: 10em;
  visibility: hidden;  /* but still takes up space */
}

p.warning,
p.warning a,
p.warning a.ui-link {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 16px;
}
