.mlistview > li > p {
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
font-size: 16px;
font-weight: bold;
margin-right: 40px;
padding: .7em 1em;

background-color: #f6f6f6;
border-color: #ddd;
color: #333;
border-width: 1px 0 0 0;
border-style: solid;
}

.mlistview > li > p span {
    font-size: 16px;
    font-weight: bold;
}

.mlistview > li > p span.count {
    float: right;
}


.mlistview.has-alts > li > p + a {
  /* 998 */
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
}

#directories_above-button {
    margin-bottom: 30px;
}

.top-text-input {
    margin-bottom: 50px;
}

#class_editor_modal h3 {
    text-align: center;
}

#constituent_extension p,
#constituent_extension p span {
  font-size: medium;
}
#constituent_extension p span {
  font-weight: bold;
}

#delete_button_extension {
    padding-top: 40px;
}

#aggregate-constituents .flipswitch span {
  font-size: 16px;
}

#aggregate-constituents label {
    display: inline-block;
    width: 300px;
    margin-right: 1em;
    text-align: right;
    font-weight: bold;
}
