.ui-listview > li > p {
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
font-size: 16px;
font-weight: bold;
margin-right: 40px;
padding: .7em 1em;

background-color: #f6f6f6;
border-color: #ddd;
color: #333;
border-width: 1px 0 0 0;
border-style: solid;
}

.ui-listview > li > p span {
    font-size: 16px;
    font-weight: bold;
}

.ui-listview > li > p span.count {
    float: right;
}

.ui-listview > li.ui-li-has-alt > p + a.ui-btn {
position: absolute;
width: 2.5em;
height: 100%;
box-sizing: border-box;
border-left-width: 1px;
top: 0;
right: 0;
margin: 0;
padding: 0;
z-index: 2;
}

#directories_above-button {
    margin-bottom: 30px;
}

.top-text-input {
    margin-bottom: 50px;
}

#class_editor_modal h3 {
    text-align: center;
}

#constituent_extension p,
#constituent_extension p span {
  font-size: medium;
}
#constituent_extension p span {
  font-weight: bold;
}

#delete_button_extension {
    padding-top: 40px;
}

#aggregate-constituents .ui-flipswitch {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 6.875em;
}
#aggregate-constituents .ui-flipswitch span {
  font-size: 16px;
}

#aggregate-constituents .ui-flipswitch.ui-flipswitch-active {
    padding-left: 5em;
    width: 1.875em;
}

#aggregate-constituents label {
    display: inline-block;
    width: 300px;
    margin-right: 1em;
    text-align: right;
    font-weight: bold;
}
