
.tall_modal {
    top: 10px;
    padding: 0px 20px;
}

.tall_modal .ui-input-text input {
    min-height: 1.5em;
    padding: 0.2em;
    line-height: 1em;
}

.tall_modal .ui-input-text {
    margin-top: 0px;
}

.ui-mobile .tall_modal label {
    margin-bottom: 0px;
}

.block_buttons .missing_driver {
    color: red;
    font-weight: bold;
    float: right;
    font-size: 16px;
}

#browse_for_sqlite {
    float: right;
    width: 19%;
    margin-bottom: 0px;
    margin-top: 14px;
    padding:5px 5px;
}
