div.flipswitch {
  background-clip:	padding-box;
  background-color:	#e9e9e9;
  border-color:	#cccccc;
  border-style:	solid;
  border-width:	1px;
  border-radius: .3125em;
  box-shadow:	rgba(0, 0, 0, 0.2) 0px 1px 3px 0px inset;
  color:	#333333;
  cursor:	pointer;
  display:	inline-block;
  font-family:	sans-serif;
  font-weight:	bold;
  height:	1.875em;
  margin:	 .5em 0;
  overflow:	hidden;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  transition-duration:	0.1s;
  transition-property:	padding, width, background-color, color, border-color;
  user-select:	none;
  vertical-align:	middle;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch .on {
  background-color:	#f6f6f6;
  border-color:	#dddddd;
  border-style:	solid;
  border-width:	1px;
  border-radius:	.3125em;
  box-shadow:	rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  box-sizing:	border-box;
  color:	#333333;
  cursor:	pointer;
  display:	block;
  float:	left;
  height:	1.75em;
  line-height:	1.65em;
  margin: .0625em 0;
  overflow:	visible;
  padding:	0px;
  position:	relative;
  text-align:	left;
  text-decoration-color:	#333333;
  text-decoration-line:	none;
  text-decoration-style:	solid;
  text-overflow:	ellipsis;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  user-select:	none;
  white-space:	nowrap;
  width:	1.75em;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch .off {
  color:	#333333;
  cursor:	pointer;
  display:	block;
  float:	left;
  height:	1.75em;
  line-height:	1.65em;
  margin:	.0625em 0;
  padding:	1px;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  user-select:	none;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch input {
  box-sizing:	border-box;
  clip:	rect(1px, 1px, 1px, 1px);
  display:	block;
  filter:	none;
  height:	1px;
  margin:	-1px;
  opacity:	0;
  overflow:	hidden;
  padding:	0px;
  position:	absolute;
  width:	1px;
}


div.flipswitch.checked {
  background-color:	rgb(2, 56, 130);
  border-color:	rgb(51, 136, 204);
  color:	rgb(255, 255, 255);
}

div.flipswitch.checked .on {
  color:	rgb(255, 255, 255);
  text-decoration-color:	rgb(255, 255, 255);
}

div.flipswitch.checked .off {
  color:	rgb(255, 255, 255);
  /* text-shadow:	rgb(0, 85, 153) 0px 1px 0px; */
}

/* Dimensions */
div.flipswitch {
  padding:      .2083em;
  padding-left: .2708em;
  width:	    5.875em;
}
div.flipswitch.checked {
  padding-left: 4.333em;
  width:        1.8125em; 
}
div.flipswitch .on {
  text-indent:	-2.6em;
}
div.flipswitch .off {
  text-indent:	1em;
}

/* These rules match the "Racing/Not Racing" flipswitch on the
   race coordinator page */
div.flipswitch.racing {
  font-size: 24px;
  width:	213px /* default 5.875em for On/Off */;
}
div.flipswitch.racing off {
  text-indent:	2em /* 1em for "Off" */;
  width:	138.672px;
}
div.flipswitch.racing on {
  text-indent:	-141.6px /* -2.6em for "On" */;
}
div.flipswitch.racing.checked {
  padding-left:	168px;
  width:	48px;
}
