/* Site-wide look and feel */

body {
    font-size: 1em;
    line-height: 1.3;
    font-family: sans-serif;
}

div.banner {
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #023882;

  display: table;
}

div.banner div {
  display: table-cell;
  vertical-align: middle;
}

div.banner div.role {
  position: absolute;
  right: 64px;
  /* To achieve vertical centering
   (http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/)
  */
  margin-top: auto;
  margin-bottom: auto;
  top: 0; bottom: 0;
  text-align: center;
 height: 40px;
}

div.banner div.role,
div.banner div.role a {
  color: #F7D117;
  text-shadow: none;
}

div.banner img {
  display: inline;
  position: absolute;
  top: 2px;
  right: 2px;
}

div.banner form {
  display: inline;
  width: 66px;
}

div.banner_version { 
  position: absolute;
  right: 10px;
}

div.banner .banner_title {
  color: white;
  font-size: 50px;
  text-align: center;
}

div.banner div.back_button {
  width: 66px;
}

.block_buttons input,
.block_buttons select,
.block_buttons optgroup,
.block_buttons option,
.block_buttons label,
.block_buttons span,
.block_buttons p { 
  font-size: 24px; /*x-large; */
}

.block_buttons input[type='button'],
.block_buttons input[type='submit'] {
    color:#ffffff;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
    padding:10px 15px;
    margin-top:3px;
	margin-bottom: 20px;
    display:block;
    font-size: x-large;

    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top,  #424242 0%, #2d2d2d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* IE10+ */
    background: linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* W3C */
    border: 1px solid #666666;
    border-right-width: 1px;
    border-radius: 0.4em 0.4em 0.4em 0.4em;

    cursor: pointer;
}

#ajax_working {
  position: fixed;
  background-color: green;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 10em;
  text-align: center;
}

#ajax-failure {
  position: fixed;
  background-color: red;
  bottom: 0px;
  left: 1em;
  padding: 1em;
  width: 25em;
  font-size: x-large;
  text-align: center;
}

/** modal window styles **/
#modal_background {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal_dialog {
  display: none;
  width: 300px;
  top: 100px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.wide_modal {
  width: 500px;
}

#second_modal_background {
    position: fixed;
    z-index:11500;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#third_modal_background {
    position: fixed;
    z-index:13500;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.settings_group {
  margin-bottom: 20px;
}


.login-kiosk {
  position: fixed;
  bottom: 20px;
/*  left: 1em;
  padding: 1em; */
  width: 25em;
  left: 50%;
  margin-left: -12.5em;
}
