div.warning {
  height: 150px;
  text-align: center;
  font-size: x-large;
  margin-top: 50px;
}

div.warning .red {
  color: red;
  font-weight: bold;
}

.file_target input {
    height: 300px;
    width: 100%;
    opacity: 0;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}
.file_target label {
    height: 300px;
    width: 100%;
    cursor: pointer;
}
#please_select_message {
    margin-top: 30px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
#drop_img {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}


.file_target {
    border: 4px dashed #023882;
}
.file_target.draghover {
  border: 4px solid #023882;
  height: 300px;
}

#filepath {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
