div#scenes-control {
  display: inline-block;
  width: 500px;
  font-size: 24px;
}
div#scenes-control label {
  display: inline-block;
  width: 150px;
  font-size: 20px;
}
#scenes-status-message {
  font-size: 16px;
  margin-left: 60px;
}
.red-text {
  color: red;
  font-weight: bold;
}

div#select-wrap {
  display: inline-block;
  width: 300px;
}

/* This, or something like it, should probably be specified
   in mobile.css, but it causes problems for the select menu size
   in e.g. class-editor. */
div.mselect-inner select {
  font-size: 100%;
}


.control_group {
  border: 3px solid #023882;
  margin:5px;
  padding: 10px;
  position: relative;  /* Create a positioning context */
 }

.kiosk-ident,
.standings-control .round-select  {
    display: inline-block;
    vertical-align: top;
    width: 485px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.reload {
  display: inline-block;
  width: 175px;
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.block_buttons div.reload input {
  width: 170px;
}
.reload p.reloading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


/* .block_buttons span wants to screw up the select font size */
.kiosk-select  div.mselect {
  font-size: 24px;
}

.kiosk-select,
.standings-control .reveal {
  margin-left: 485px;
  margin-right: 175px;
    min-height: 175px;
}

.standings-control .reveal h3 {
  margin-top: 2px;
  text-align: center;
}

.standings-control .reveal #still_hidden {
  font-size: 1.0em;
}

.standings-control .reveal input[type="button"] {
  margin-bottom: 2px;
}

.kiosk_control_name {
    font-weight: bold;
}

.kiosk_control .de-emphasize {
    font-size: 80%;
}

.kiosk_control .last_contact {
    font-size: 100%;
}

p.parameters {
    font-size: 100%;
}

.kiosk-name-prefill-button {
  line-height: 1.3;
  font-family: sans-serif /*{global-font-family}*/;

  font-weight: bold;
  border-width: 1px;
  border-style: solid;

  font-size: 16px;
  margin: .5em 0;
  padding: .7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #f6f6f6 /*{a-bup-background-color}*/;
  border-color: #ddd /*{a-bup-border}*/;
  color: #333 /*{a-bup-color}*/;
  text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
}

#slideshow_subdir_div {
  margin-top: 20px;
}
#slideshow_div {
  margin-bottom: 20px;
}

#classids_div {
  margin-bottom: 20px;
}
