/* Simplified CSS to give the approximate look of jquery-mobile, without the
   invasive javascript that wants to take over the whole page. */
.mradio {
  margin: .5em 0;
  position: relative;
}

.mradio label {
  line-height: 1.3;
  background-clip: padding-box;
  /* font-size: 16px; */
  padding: .7em 1em;
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  padding-left: 2.5em;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-radius: .3125em;
  margin: 0;
  text-align: left;
  z-index: 2;
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0;
}
.mradio label:after {
  background-color: rgba(0,0,0,.3);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1em;
  content: "";
  position: absolute;
  top: 50%;
  left: .5625em;
  margin: -9px 2px 0 2px;
  display: block;
  height: 18px;
  width: 18px;
}
.mradio label.off:after {
  opacity: .3;
}
.mradio label.on:after {
  background-image: none;
  background-color: #fff;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-style: solid;
  border-color: #3388cc;
}
.mradio label:hover {
  background-color: #ededed;
}

.mradio input {
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
  position: absolute;
  left: .466em;
  top: 50%;
  width: 22px;
  height: 22px;
  margin: -11px 0 0 0;
  outline: 0 !important;
  z-index: 1;
}

.mradio.disabled {
  opacity: .3;
  cursor: default !important;
  pointer-events: none;
}

.mradiogroup {
  border-radius: .3125em;
}
.mradiogroup .mradio {
  margin: 0;
  border-radius: inherit;
}
.mradiogroup .mradio label {
  border-bottom-width: 0;
  border-radius: 0;
}
.mradiogroup .mradio:first-child label {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.mradiogroup .mradio:last-child label {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

div.mselect {
  margin-top: .5em;
  margin-bottom: .5em;
  position: relative;
}
div.mselect-inner {
  line-height: 1.3;
  font-family: sans-serif;

  font-weight: bold;
  border-width: 1px;
  border-style: solid;

  background-clip: padding-box;

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
  box-shadow: 0 1px 3px rgba(0,0,0,.15);

  /* font-size: 16px; 
     padding: .7em 1em; */
  padding: .5em 1em;
  margin: .5em 0;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-right: 2.5em;

  border-radius: .3125em;

  margin: 0;
  opacity: 1;

  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
}
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option#styling_with_css */
div.mselect-inner:hover {
  background-color: #ededed;
}
div.mselect-inner span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}
div.mselect-inner select {
  line-height: 1.3;
  font-family: sans-serif;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1.5em;
  min-height: 100%;
  height: 3em;
  max-height: 100%;
  outline: 0;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  filter: Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
}
div.mselect-inner option {
  font-size: 100%;
}
div.mselect-inner:after {  
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E");

  background-color: #666;
  background-color: rgba(0,0,0,.3);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 1em;
  border-radius: 1em;

  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;

  top: 50%;
  margin-top: -11px;

  right: .5625em;
}


div.flipswitch {
  background-clip:	padding-box;
  background-color:	#e9e9e9;
  border-color:	#cccccc;
  border-style:	solid;
  border-width:	1px;
  border-radius: .3125em;
  box-shadow:	rgba(0, 0, 0, 0.2) 0px 1px 3px 0px inset;
  color:	#333333;
  cursor:	pointer;
  display:	inline-block;
  font-family:	sans-serif;
  font-weight:	bold;
  height:	1.875em;
  margin:	 .5em 0;
  overflow:	hidden;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  transition-duration:	0.1s;
  transition-property:	padding, width, background-color, color, border-color;
  user-select:	none;
  vertical-align:	middle;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch .on {
  background-color:	#f6f6f6;
  border-color:	#dddddd;
  border-style:	solid;
  border-width:	1px;
  border-radius:	.3125em;
  box-shadow:	rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  box-sizing:	border-box;
  color:	#333333;
  cursor:	pointer;
  display:	block;
  float:	left;
  height:	1.75em;
  line-height:	1.65em;
  margin: .0625em 0;
  overflow:	visible;
  padding:	0px;
  position:	relative;
  text-align:	left;
  text-decoration-color:	#333333;
  text-decoration-line:	none;
  text-decoration-style:	solid;
  text-overflow:	ellipsis;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  user-select:	none;
  white-space:	nowrap;
  width:	1.75em;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch .off {
  color:	#333333;
  cursor:	pointer;
  display:	block;
  float:	left;
  height:	1.75em;
  line-height:	1.65em;
  margin:	.0625em 0;
  padding:	1px;
  /* text-shadow:	#eeeeee 0px 1px 0px; */
  text-size-adjust:	100%;
  user-select:	none;
  -webkit-tap-highlight-color:	rgba(0, 0, 0, 0);
}

div.flipswitch input {
  box-sizing:	border-box;
  clip:	rect(1px, 1px, 1px, 1px);
  display:	block;
  filter:	none;
  height:	1px;
  margin:	-1px;
  opacity:	0;
  overflow:	hidden;
  padding:	0px;
  position:	absolute;
  width:	1px;
}


div.flipswitch.checked {
  background-color:	rgb(2, 56, 130);
  border-color:	rgb(51, 136, 204);
  color:	rgb(255, 255, 255);
}

div.flipswitch.checked .on {
  color:	rgb(255, 255, 255);
  text-decoration-color:	rgb(255, 255, 255);
}

div.flipswitch.checked .off {
  color:	rgb(255, 255, 255);
  /* text-shadow:	rgb(0, 85, 153) 0px 1px 0px; */
}

/* Dimensions */
div.flipswitch {
  padding:      .2083em;
  padding-left: .2708em;
  width:	    5.875em;
}
div.flipswitch.checked {
  padding-left: 4.333em;
  width:        1.8125em; 
}
div.flipswitch .on {
  text-indent:	-2.6em;
  font-size: 100%;
}
div.flipswitch .off {
  text-indent:	1em;
  font-size: 100%;
}

/* These rules match the "Racing/Not Racing" flipswitch on the
   race coordinator page */
div.flipswitch.racing {
  font-size: 24px;
  width:	213px /* default 5.875em for On/Off */;
}
div.flipswitch.racing off {
  text-indent:	2em /* 1em for "Off" */;
  width:	138.672px;
}
div.flipswitch.racing on {
  text-indent:	-141.6px /* -2.6em for "On" */;
}
div.flipswitch.racing.checked {
  padding-left:	168px;
  width:	48px;
}

/********************************* mlistview *********************************/
.mlistview {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mlistview > li {
  list-style: none;
  margin: 0;
  display: block;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-width: 1px 0 0 0;
  border-style: solid;
  padding: .7em 1em;
}

.mlistview.has-thumbs > li {
  min-height: 3.625em;
  padding-left: 6.25em;
}

.mlistview.has-thumbs > li > img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 5em;
  max-width: 5em;
}

.mlistview > li p {
  font-size: .75em;
  font-weight: normal;
  display: block;
  margin: .6em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* mlistview has-alts expects each li to contain a <p> and an <a> element, or exactly two <a> elements. */
.mlistview.has-alts > li {
  padding: 0;
  border-width: 0;
  background-color: #f6f6f6;
}

.mlistview.has-alts > li > a,
.mlistview.has-alts > li > p {
  border-color: #ddd;
}

.mlistview.has-alts > li > a:first-child,
.mlistview.has-alts > li > p:first-child {
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;

  font-weight: bold;
  border-width: 1px;
  border-style: solid;

  font-size: 16px;
  margin: .5em 0;
  padding: .7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  display: block;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-width: 1px 0 0 0;
  border-style: solid;

  margin-right: 2.5em;
  border-right-width: 0;
}

.mlistview.has-alts > li > a + a,
.mlistview.has-alts > li > p + a {
  line-height: 1.3;
  font-family: sans-serif;

  font-weight: bold;

  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-indent: -9999px;
  white-space: nowrap !important;

  display: block;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-width: 1px 0 0 0;
  border-style: solid;

  margin-right: 2.5em;
  border-right-width: 0;

  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;

  position: absolute;
  width: 2.5em;
  height: 100%;
  min-height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left-width: 1px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 2;

  /* 3614 li.ui-first-child only */
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}

.mlistview.has-alts > li > a + a:after,
.mlistview.has-alts > li > p + a:after {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M13.621%2C5.904l-1.036-0.259c-0.168-0.042-0.303-0.168-0.355-0.332c-0.092-0.284-0.205-0.559-0.339-0.82%20c-0.079-0.153-0.073-0.337%2C0.017-0.486l0.549-0.915c0.118-0.196%2C0.088-0.448-0.075-0.61l-0.862-0.863%20c-0.162-0.163-0.414-0.193-0.611-0.075l-0.916%2C0.55C9.844%2C2.182%2C9.659%2C2.188%2C9.506%2C2.109C9.244%2C1.975%2C8.97%2C1.861%2C8.686%2C1.77%20c-0.165-0.052-0.29-0.187-0.332-0.354L8.095%2C0.379C8.039%2C0.156%2C7.839%2C0%2C7.609%2C0H6.391c-0.229%2C0-0.43%2C0.156-0.485%2C0.379L5.646%2C1.415%20C5.604%2C1.582%2C5.479%2C1.718%2C5.313%2C1.77c-0.284%2C0.092-0.559%2C0.206-0.82%2C0.34C4.339%2C2.188%2C4.155%2C2.182%2C4.007%2C2.093L3.092%2C1.544%20c-0.196-0.118-0.448-0.087-0.61%2C0.075L1.619%2C2.481C1.457%2C2.644%2C1.426%2C2.896%2C1.544%2C3.093l0.549%2C0.914%20c0.089%2C0.148%2C0.095%2C0.332%2C0.017%2C0.486C1.975%2C4.755%2C1.861%2C5.029%2C1.77%2C5.314c-0.053%2C0.164-0.188%2C0.29-0.354%2C0.332L0.379%2C5.905%20C0.156%2C5.961%2C0%2C6.161%2C0%2C6.391v1.219c0%2C0.229%2C0.156%2C0.43%2C0.379%2C0.485l1.036%2C0.26C1.582%2C8.396%2C1.717%2C8.521%2C1.77%2C8.687%20c0.092%2C0.284%2C0.205%2C0.559%2C0.34%2C0.82C2.188%2C9.66%2C2.182%2C9.844%2C2.093%2C9.993l-0.549%2C0.915c-0.118%2C0.195-0.087%2C0.448%2C0.075%2C0.61%20l0.862%2C0.862c0.162%2C0.163%2C0.414%2C0.193%2C0.61%2C0.075l0.915-0.549c0.148-0.089%2C0.332-0.095%2C0.486-0.017%20c0.262%2C0.135%2C0.536%2C0.248%2C0.82%2C0.34c0.165%2C0.053%2C0.291%2C0.187%2C0.332%2C0.354l0.259%2C1.036C5.96%2C13.844%2C6.16%2C14%2C6.39%2C14h1.22%20c0.229%2C0%2C0.43-0.156%2C0.485-0.379l0.259-1.036c0.042-0.167%2C0.168-0.302%2C0.333-0.354c0.284-0.092%2C0.559-0.205%2C0.82-0.34%20c0.154-0.078%2C0.338-0.072%2C0.486%2C0.017l0.914%2C0.549c0.197%2C0.118%2C0.449%2C0.088%2C0.611-0.074l0.862-0.863%20c0.163-0.162%2C0.193-0.415%2C0.075-0.611l-0.549-0.915c-0.089-0.148-0.096-0.332-0.017-0.485c0.134-0.263%2C0.248-0.536%2C0.339-0.82%20c0.053-0.165%2C0.188-0.291%2C0.355-0.333l1.036-0.259C13.844%2C8.039%2C14%2C7.839%2C14%2C7.609V6.39C14%2C6.16%2C13.844%2C5.96%2C13.621%2C5.904z%20M7%2C10%20c-1.657%2C0-3-1.343-3-3s1.343-3%2C3-3s3%2C1.343%2C3%2C3S8.657%2C10%2C7%2C10z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");

  /* 856 */
  background-color: #666;
  background-color: rgba(0,0,0,.3);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 1em;
  border-radius: 1em;

  /* 1579 */
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;

  /* 1590 */
  top: 50%;
  margin-top: -11px;

  /* 1614 */
  left: 50%;
  margin-left: -11px;
}

.mlistview.after > li.button:after {
  /* 68    .ui-icon-carat-r:after */
    /* background-image */
  /* 856   .ui-btn-icon-right:after */
	background-color: 					#666 /*{global-icon-color}*/;
	background-color: 					rgba(0,0,0,.3) /*{global-icon-disc}*/;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 1em;
	border-radius: 1em;
  /* 1579  .ui-btn-icon-right:after */
	content: "";
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
  /* 1590  .ui-btn-icon-left:after */
	top: 50%;
	margin-top: -11px;
  /* 1599  .ui-btn-icon-right:after */
	right: .5625em;
}

.mlistview > li.button {
  list-style: none;

  line-height: 1.3;
  font-family: sans-serif /*{global-font-family}*/;

  font-size: 16px;
  padding: .7em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-right: 2.5em;

  font-weight: bold;

  margin: 0;
  display: block;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  border-width: 1px 0 0 0;
  border-style: solid;
}

.mlistview > li.button:hover {
  background-color: #ededed;
}


.mlistview  li.icon-right:after {
    /* 68 */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");

  /* 856 */
  background-color: #666 /*{global-icon-color}*/;
  background-color: rgba(0,0,0,.3) /*{global-icon-disc}*/;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-border-radius: 1em;
  border-radius: 1em;

  /* 1579 */
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;

  /* 1590 */
  top: 50%;
  margin-top: -11px;

  /* 1599 */
  right: .5625em;
}


.mlistview > li:last-child {
  border-bottom-width: 1px;
}

.mlistview.has-alts > li:last-child {
  border-bottom-width: 0px;
}

.mlistview.has-alts > li:last-child > a {
  border-bottom-width: 1px;
}

/***************************** End of mlistview *********************************/

div.mtext {
  /* 802 */
  -webkit-border-radius: .3125em;
  border-radius: .3125em;

  /* 825 */
  -webkit-background-clip: padding;
  background-clip: padding-box;

  /* 844 */
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);

  /* 4065 */
  margin: .5em 0;
  border-width: 1px;
  border-style: solid;

  /* 956 */
  background-color: #fff;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
}

div.mtext input[type='text'],
div.mtext input[type='number'] {
  /* 742 */
  color: inherit;
  text-shadow: inherit;

  /* 4071 */
  padding: .4em;
  line-height: 1.4em;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;

  /* 4084 */
  margin: 0;
  min-height: 2.2em;
  text-align: left;
  border: 0;
  background: transparent none;
  -webkit-appearance: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
}

div.mtext input[type='text']:focus,
div.mtext input[type='number']:focus {
  /* 1074 */
  -webkit-box-shadow: 0 0 12px #3388cc;
  -moz-box-shadow: 0 0 12px #3388cc;
  box-shadow: 0 0 12px #3388cc;
}

div.mtext input[type='text'][disabled],
div.mtext input[type='number'][disabled]{
    background-color: rgb(221,221,221);
    pointer-events: none;
}
