
.flying {
    position: fixed;
    background-color: red;
    left: -5em;
    top: -5em;
    width: 3em;
    text-align: center;

    padding: 13px;
    display: table;
}

.flying span {
    display: table-cell;
    vertical-align: middle;
}

html, body, table { width: 100%; height: 100%; margin: 0; padding: 0; }

/* To avoid scrollbars: */
body { overflow: hidden; }

table { 
  border-collapse: collapse;
}

td {
    border: 14px solid black;
    text-align: center;
}

td.photo {
    border-right-width: 0px;
}
td.name {
    border-left-width: 0px;
}

td p {
    /* TODO Chrome sets these to 1em for p by default?
        Mozilla equivalents needed?  Others? */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

th {
    font-size: 32px;
    /* Without fixing this value, WebKit (at least) calculates strangely large
       initial heights, and then takes a few rounds to come to equilibrium.
       41px = line height (1.3) for 32px font size.
       $("#table-headers th").height() reports 48, the difference being
       half the border width: */
    height: 41px;
}

th .aside {
    font-size: 24px;
}

#speed-div {
    overflow-y: hidden;
    /* Once again, lineheight for tr th, namely, 1.3 x 32px. */
    max-height: 41px;
}

table, td {
    /* This is just a placeholder value; the real font size gets set dynamically.
       See js/now-racing-adjust-fonts.js */
    font-size: 85px;
}

td {
    vertical-align: middle;
    /* ondeck.css:10 sets a 13px padding which makes more difference than you'd think. */
    padding: 0px;
}
/* Not floating the img leaves some extra whitespace below the photo,
   for reasons I don't understand (empty anonymous block box?). */
td.photo img {
    float: left;
}

td.test-only {
  color: #fffd38;
  background-color: #888;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
td.test-only img {
  max-width: 50%;
}

@media screen and (max-width: 800px),
       screen and (max-height: 500px) {
  td {
    border: 7px solid black;
  }
  th {
    font-size: 20px;
    height: 30px;
  }
}

@media screen and (max-width: 600px),
       screen and (max-height: 350px) {
  td {
    border: 5px solid black;
  }
  th {
    font-size: 16px;
    height: 22px;
  }
}

@media screen and (max-width: 400px), 
       screen and (max-height: 250px) {
  td {
    border: 2px solid black;
  }
  th {
    font-size: 12px;
    height: 17px;
  }
}

.name .subtitle {
  font-size: 75%;
}
.name .carname {
  font-size: 75%;
  font-style: italic;
}

#overlay_background {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.overlay_foreground {
  display: none;
  width: 512px;
  padding: 15px 20px;
  background-color: transparent;
/*  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); */
}

#timer_overlay {
  color: #a7101c;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#timer_overlay p {
  background: white;
  opacity: 0.75;
}

#reschedule_overlay img {
/*  background: white;
  opacity: 0.75; */
}
#reschedule_overlay p {
  color: #cf1f25;
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  background: white;
  opacity: 0.75;
}


.banner_version { display: none; }

.aside { display: none; }
