table { 
  border-collapse: collapse;
  border: 2px black;
}

table.main_table { 
  width: 100%;
}

td {
  border: 1px solid;
  text-align: center;
  padding: 13px;
}

tr.d0 td {
  background-color: #fcf6cf;
}

.group_spacer {
   height: 30px;
}

.pre_group_title {
	align: center;
}

.curgroup {  }
.group_title {  }

.curgroup .group_title,
.curgroup .pre_group_title {
	/* Cub Scout blue & gold, respectively. */
  border: 5px solid #023882;
  background-color: #F7D117;
}

th {
  padding-right: 10px;
}
.curheat {
  border: 10px solid black;
}
.curgroup .d0 th,
.curgroup .d1 th {
  background-color: #023882;
  color: #ffffff;
}

td .car {
  font-size: x-large;
}
td .racer {
  font-size: small;
}

tbody {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

tbody tr:first-child th {
  padding-top: 10px;
}

/* Yuck.  These really don't do what I want. */
div.index_background {
  width: 100%;
}

div.index_column {
  width: 50%;
  display: inline-block;
float: left;
}

/* These are for checkin page */
.floatform {
   position: fixed;
   /* height: 100px; */
   width:  400px;
   /* center in viewport: */
   top: 50%;
   left: 50%;
   /* margin-top: -50px; */
   margin-left: -200px;
   border: 2px solid black;
   background-color: white;
   /* visibility: hidden; */
   /* visibility: visible; */
}

th.nrows1, th.nrows2, th.nrows3, th.nrows4 {
    vertical-align: top;
}
.racer_label {
    float: right;
}
th.nrows1 .racer_label {
    margin-top: 19px;
}
th.nrows2 .racer_label {
    margin-top: 52px;
}
th.nrows2 img {
    margin-top: 34px;
}

th.nrows3 .racer_label {
    margin-top: 86px;
}
th.nrows3 img {
    margin-top: 68px;
}

th.nrows4 .racer_label {
    margin-top: 120px;
}
th.nrows4 img {
    margin-top: 102px;
}

.clickable {
	color: #ff0000;
}

/* Suppress the underline and coloring for these links. */
.racer_link {
   color: inherit;
   text-decoration: none;
}

/*
td.clickable {
	background-color: #00ff00;
	margin: 2px;
	padding: 3px;
}

td.clickable div.inclickable {
	margin: 3px;
	background-color: #ffffff;
}
*/

/* photo-thumbs: */
.thumbnail { 
  display: inline-block;
  width: 150px;
  height: 150px;
}

.thumbnail a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.hidden {
  visibility: hidden;
  display: none;
}


.lost_photo {
  font-style: italic;
}

/* kiosks */
.full_page_center {
  width: 100%;
  text-align: center;
}

.kiosk_title {
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.kiosk_heading {
  font-size: 50px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.kiosk_wanted {
  display: inline-block;
  vertical-align: top;
}

.kiosk_wanted li {
  font-size: 30px;
}

.award_superlative {
  text-align: right;
  width: 6em;
}

.award_primary {
  text-align: left;
}


.award_racers {
  float: right;
  width: 20%;
}

.award_choices {
  width: 80%;
}

.index_spacer {
  height: 50px;
}

.heat_link span {
    font-size: 32px;
}
th {
    font-size: 24px;
}

.ondeck_photo {
    display: none;
}

.curheat .ondeck_photo.populated,
.nextheat .ondeck_photo.populated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
