table { 
  border-collapse: collapse;
  border: 2px black;
}

table.main_table { 
  width: 100%;
}

td {
  border: 1px solid;
  text-align: center;
  padding: 13px;
}

tr.d0 td {
  background-color: #fcf6cf;
}

/* These borders seem to create unwanted horizontal scroll bars,
   at least for Chrome */
.main_table tr td:first-child,
.main_table tr th:first-child {
    border-left: 0px;
}
.main_table tr td:last-child,
.main_table tr th:last-child {
    border-right: 0px;
}

.group_spacer {
   height: 30px;
}

.pre_group_title {
	align: center;
}

.curgroup {  }
.group_title {  }

.curgroup .group_title,
.curgroup .pre_group_title {
	/* Cub Scout blue & gold, respectively. */
  border: 5px solid #023882;
  background-color: #F7D117;
}

th {
  padding-right: 10px;
}
.curheat {
  border: 10px solid black;
}
.curgroup .d0 th,
.curgroup .d1 th {
  background-color: #023882;
  color: #ffffff;
}

td .car {
  font-size: x-large;
}
td .racer {
  font-size: small;
}

tbody {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

tbody tr:first-child th {
  padding-top: 10px;
}

th.nrows1, th.nrows2, th.nrows3, th.nrows4 {
    vertical-align: top;
}
.racer_label {
    float: right;
}
th.nrows1 .racer_label {
    margin-top: 19px;
}
th.nrows2 .racer_label {
    margin-top: 52px;
}
th.nrows2 img {
    margin-top: 34px;
}

th.nrows3 .racer_label {
    margin-top: 86px;
}
th.nrows3 img {
    margin-top: 68px;
}

th.nrows4 .racer_label {
    margin-top: 120px;
}
th.nrows4 img {
    margin-top: 102px;
}

.clickable {
	color: #ff0000;
}

/* Suppress the underline and coloring for these links. */
.racer_link {
   color: inherit;
   text-decoration: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* kiosks */
.full_page_center {
  width: 100%;
  text-align: center;
}

.kiosk_title {
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.kiosk_heading {
  font-size: 50px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.kiosk_wanted {
  display: inline-block;
  vertical-align: top;
}

.kiosk_wanted li {
  font-size: 30px;
}

.heat_link span {
    font-size: 32px;
}
th {
    font-size: 24px;
}

.ondeck_photo {
    display: none;
}

.curheat .ondeck_photo.populated,
.nextheat .ondeck_photo.populated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
