#main {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#queue {
  width: 400px;
}

#racing-scene-div {
  margin-bottom: 30px;
}

#top-of-queue {
  width: 400px;
  text-align: center;
  font-weight: bold;
}

#queue ul {
  padding-bottom: 50px;
}
#queue ul.mlistview > li {
  border-width: 0px;
  padding: 0em 1em;
}

#queue ul.mlistview > li > div.queued-round {
  border: 3px black solid;
  margin: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#queue ul.mlistview > li input.queue-remove {
  float: right;
  background: #ff0000;
  color: white;
  font-size: 16px;
  border: 1px solid #666666;
  border-right-width: 1px;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  margin-right: 8px;
}

#queue ul.mlistview > li.gap-after {
  margin-bottom: 20px;
}

div.queued-round > p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

div.queued-round > p > img.triangle {
  padding-right: 5px;
}

#queue ul > li > p {
  margin: 0px;
  width: 100%;
  text-align: center;
}

#queue ul > li input[type=number] {
  font-size: 20px;
  width: 150px;
  margin-left: 10px;
}

#queue ul > li div.flipswitch {
  margin-left: 10px;
}

#queue ul > li > p span.after-action {
  font-size: 16px;
  font-weight: normal;
}

p.squeeze {
  display: none;
  height: 0px;
}

#rounds-div {
  position: absolute;
  top: 10px;
  right: 0;
  width: 300px;
}

#rounds-ul.mlistview > li {
  border: 3px blue dotted;
  margin: 3px;
}

#rounds-ul.mlistview > li[data-roundid] {
  border: 3px blue solid;
}

#rounds-ul.mlistview > li > input[type=button] {
  width: 50px;
  font-size: large;
  position: absolute;
  right: 10px;
  top: 5px;
  
  color:#ffffff;
  background: #2d2d2d; /* Old browsers */
  background: -moz-linear-gradient(top,  #424242 0%, #2d2d2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2d2d2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* IE10+ */
  background: linear-gradient(top,  #424242 0%,#2d2d2d 100%); /* W3C */

  border: 1px solid #666666;
  border-right-width: 1px;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
}

li.width200.width200.width200 {
  width: 256px;
}

#rounds-ul.mlistview > div.spacer {
  height: 10px;
}

.hover {
  background-color: #ffffb4;
}

select {
  font-size: 16px;
}

div.flipswitch.bucketed-multi {
  font-size: 24px;
  width: 10em;
  height: 2em;
}

div.flipswitch.bucketed-multi .on {
  text-indent: -6em;
}

div.flipswitch.bucketed-multi.checked {
  padding-left: 7em;
  width: 1.8125em;
}
