h3#reject {
  text-align: center;
  margin-top: 100px;
}

.full-window {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  border: none;
}

#device-picker-div {
  min-height: 50px;
  width: 50%;
  margin-left: 25%;
}

video#preview {
  border: 1px solid green;
  width: 50%;
  max-height: 60%;
  margin-left: 25%;
}

#recorder-warning {
  width: 50%;
  margin-left: 25%;
}

#recorder-warning p,
#recorder-warning span {
  font-size: 18px;
}

#replay-setup {
  background: white;
}

#playback-background {
  background-color: black;
}

#click-shield {
  z-index: 20;
}

#preview-container {
  position: relative;
}
#waiting-for-remote {
  position: absolute;
  top: 45%;
  left: 25%;
  right: 75%;
  z-index: 10;
  background-color: white;
}
#waiting-for-remote p {
  text-align: center;
}
