h3#reject {
  text-align: center;
  margin-top: 100px;
}

.full-window {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  border: none;
}

#device-picker-div {
  min-height: 50px;
  width: 50%;
  margin-left: 25%;
}

#preview {
  border: 1px solid green;
  width: 50%;
  max-height: 60%;
  margin-left: 25%;
}

#recording-stream-info {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
#recording-stream-info,
#recording-stream-info span {
  font-size: 18px;
  font-family: sans-serif;
}

#recorder-warning {
  width: 50%;
  margin-left: 25%;
}

#recorder-warning p,
#recorder-warning span {
  font-size: 18px;
}

#replay-setup {
  background: white;
}

#playback-background {
  background-color: black;
}

#click-shield {
  z-index: 20;
}

#preview-container {
  position: relative;
}

#waiting-for-remote {
  position: absolute;
  top: 45%;
  left: 25%;
  min-width: 50%;
  right: 75%;
  z-index: 10;
  background-color: white;
}
#waiting-for-remote p {
  text-align: center;
}

#fps {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 20px;
  text-align: right;
}

#debug {
  position: fixed;
  z-index: 2000;
  top: 200px;
  right: 0;
  background-color: white;
  border: 1px solid black;
  font-size: 15px;
  line-height: 0px;
  width: 350px;
}

#log p.sent {
  text-align: left;
}
#log p.rcvd {
  text-align: right;
}
#log p.stream {
  text-align: center;
}
