input[type='text'], input[type='number'] {
  font-family: sans-serif;
}

#images-dir-p .mselect {
  display: inline-block;
  margin-left: 20px;
  width: 400px;
  font-size: 14px;
}

#images-dir-p .mselect .mselect-inner span {
  font-size: 18px;
}

.settings_group {
    padding: 1em;
    border: 2px solid #666666;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    margin: 1em;
}

.settings_group .settings_group_image {
    width: 220px;
    display: inline-block;
}

.settings_group .settings_group_image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings_group .settings_group_settings {
    display: inline-block;
    width: 700px;
    vertical-align: top;
}

.settings_group .settings_group_settings p {
  margin: 5px;
}

#lanes-in-use {
  font-size: 14px;
}

#lanes-in-use img {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

/* Fighting with jQuery Mobile: */
.ui-mobile label {
  display: inline;
  font-size: 24px;
}

.status_icon img {
    vertical-align: middle;
}

p.photo_dir_status_message {
    color: red;
    font-size: 20px;
}
