.step_div {
  clear: left;
    width: 100%;
    margin-top: 20px;
    min-height: 70px;
}

.status_icon {
    margin-left: 10px;
    width: 60px;
    float: left;
}

.step_button {
    width: 300px;
    float: left;
}

.step_details {
    /* To have any visible effect, has to account for
       the floated-left elements, status_icon and step_button. */
    margin-left: 425px;
}
.step_details p {
    padding-top: 15px;
}

#right-float {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  padding-right: 25px;
  width: 300px;
}

#offer_fake,
#remind_fake {
  border: 4px #023882 solid;
  width: 275px;
}
#offer_fake p,
#remind_fake p {
  font-size: 20px;
  text-align: center;
}

#prefs-drop-intro {
  text-align: center;
  margin-block-end: 3px;
}
#prefs-drop {
  border: 3px solid #023882;
  margin-right: 25px;
  border-radius: 8px;
  height: 30px;
  min-height: 30px;
  width: 275px;
  text-align: center;
  padding-top: 2px;
}
#prefs-drop-msg {
  margin-block-start: 0px;
}
.dz-default.dz-message {
  visibility: hidden;
  display: none;
}

#schema_step {
  min-height: 130px;
}

#schema_step .step_details p,
#settings_step .step_details p {
    padding-top: 2px;
}

#schema_button {
  margin-bottom: 0px;
}

#schema_step div.status_icon img {
  margin-top: 32px;
}

#schema_step .upper {
  min-height: 42px;
  height: 56px;
}

#schema_step .lower {
  /* #99 For reasons I don't understand, Firefox needs this. */
  margin-top: 1px;
}

#schema_step .lower .step_button {
  /* margin-left: 70px; */
  margin-top: 5px;
}

#schema_step .lower .step_button input {
  margin-top: 0px;
}

#schema_step .lower .step_details p {
  margin-top: 0px;
}

.step_details a {
  display: inline-block;
  background: black;
  color: white;
  height: 15px;
  padding: 5px;
  border-radius: 0.4em;
  text-decoration: none;
  line-height: 1.0;
}

#purge_operation {
  text-align: center;
  font-weight: bold;
}

span.trouble {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.database_file {
    font-size: 20px;
    font-weight: bold;
}

#reporting_box {
    position: fixed;
    width: 300px;
    top: 64px;
    left: 50%;
    margin-left: -150px;
    background: #d0d0d0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

    border: 4px solid black;
}

#reporting_box_content {
    padding-top: 15px;
    padding-bottom: 15px;
}

#reporting_box_dismiss {
    margin: 4px;
    border: 8px solid #c00000;
    background: #f0f0f0;
    color: #000000;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#reporting_box.success,
#reporting_box.success #reporting_box_content {
    color: #00a000;
}

#reporting_box.failure {
    width: 600px;
    margin-left: -300px;
}

#reporting_box.failure,
#reporting_box.failure #reporting_box_content {
    color: #a00000;
}

.tall_modal {
    top: 10px;
    padding: 0px 20px;
}

.tall_modal div.mtext input[type='text'] {
    min-height: 1.5em;
    padding: 0.2em;
    line-height: 1em;
    margin-top: 0px;
}

.tall_modal .ui-input-text {
    margin-top: 0px;
}

.ui-mobile .tall_modal label {
    margin-bottom: 0px;
}

.block_buttons .missing_driver {
    color: red;
    font-weight: bold;
    float: right;
    font-size: 16px;
}

#browse_for_sqlite {
    float: right;
    width: 19%;
    margin-bottom: 0px;
    margin-top: 38px;
    padding:5px 5px;
}

#purge_modal {
  background: #cb5a5e;
  background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 12px,
    #ffffff 10px,
    #ffffff 23px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 10px;
}

#purge_modal_inner {
  position: relative;
  margin: 0px;
  padding: 10px;
  background: #ffffff;
}

.purge_div {
  width: 100%;
  min-height: 70px;
}
.purge_div p,
.purge_div span {
  padding-top: 15px;
  font-size: 16px;
}
.purge_button {
    width: 260px;
    float: left;
}
