#log_outer {
  float: right;
  width: 50%;
}
#log_outer .test-control {
  font-size: 14px;
  margin-bottom: 0px;
}
#log_outer .test-control label {
  font-size: 18px;
}
#log_container {
  border: 2px solid black;
  overflow-y: scroll;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}

div#timer_summary {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}
img#timer_summary_icon {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
div#timer_summary_text {
  display: inline-block;
}
div#timer_summary h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
div#timer_summary p {
  margin-top: 5px;
}


div.test-control {
 font-size: 18px;
}
div.test-control label {
  display: inline-block;
  margin-left: 105px;
  width: 200px;
}
#n-lanes-label {
  font-size: 18px;
  margin-left: 50px;
  margin-right: 20px;
}
#n-lanes {
  line-height: 1.3;
  font-family: sans-serif;
  font-size: 24px;
}
#reverse-lanes {
  margin-left: 50px;
}
#reverse-lanes-label {
  font-size: 18px;
}

#start_race_button_div {
  width: 550px;
}
#start_race_button_div input[type='button'] {
  background: #008000;
}


div#now-racing {
  margin-top: 20px;
}
table#lanes {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
 }

table#lanes td {
  min-width: 80px;
}
table#lanes td.time {
  text-align: right;
}
